.container {
	height: calc(100vh - 4rem);

	h1,
	h4,
	label {
		color: #fff;
		margin-bottom: 1rem;
	}
}

.formContainer {
	max-width: 600px;
	margin: auto;
	padding: 2rem;
	background-color: #2b2b2f;
	border-radius: 8px;
}
.courseLabel {
	color: #000 !important;
}
