.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.header {
		text-align: center;
		color: #fff;
	}
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.buttonInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
