// components/FileList.module.scss
.container {
	width: 70%;
	margin-inline: auto;
	margin-top: 2rem;
	padding: 20px;
	border-radius: 4px;
	color: #f0f0f0;
}

.heading {
	font-size: 1.5rem;
	margin-bottom: 20px;
	font-weight: bold;
	color: #e0e0e0;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fileList {
	border: 1px solid #444;
	background-color: #333;
	list-style-type: none;
	padding: 1rem;
	margin: 0;
}

.fileItem {
	padding: 10px;
	border-bottom: 1px solid #444;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #444;
	}
}

.fileItem:last-child {
	border-bottom: none;
}

.file {
	display: flex;
	justify-content: space-between;
	align-items: center;

	* {
		margin: 0;
		padding: 0;
	}
}
